{% extends "base.html" %}

{% block title %}Política de Cookies - Conttec{% endblock %}

{% block meta_description %}Política de Cookies da Conttec: Entenda como utilizamos cookies e tecnologias semelhantes em nosso serviço de conversão de XML para PDF e Excel.{% endblock %}

{% block meta_keywords %}política de cookies, cookies, rastreamento, privacidade web, conversor xml, tecnologias de rastreamento{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card border-0 shadow-sm">
            <div class="card-header py-3 bg-light">
                <h1 class="h3 mb-0">Política de Cookies</h1>
            </div>
            <div class="card-body p-4">
                <div class="cookies-content">
                    <p>Última atualização: {{ "hoje"|default("30 de Março de 2024") }}</p>
                    
                    <h2 class="h4 mt-4">1. Introdução</h2>
                    <p>Esta Política de Cookies explica como a Conttec ("nós", "nosso" ou "nossa") utiliza cookies e tecnologias semelhantes para reconhecer você quando você visita nosso site <a href="https://conttecsa.com">conttecsa.com</a> ("Site"). Ela explica o que são essas tecnologias e por que as usamos, bem como seus direitos de controlar nosso uso delas.</p>
                    
                    <h2 class="h4 mt-4">2. O que são Cookies?</h2>
                    <p>Cookies são pequenos arquivos de dados que são colocados no seu computador ou dispositivo móvel quando você visita um website. Os cookies são amplamente utilizados pelos proprietários de websites para fazer seus sites funcionarem, ou funcionarem de maneira mais eficiente, bem como para fornecer informações de relatórios.</p>
                    
                    <p>Os cookies definidos pelo proprietário do site (neste caso, Conttec) são chamados de "cookies primários". Os cookies definidos por partes que não sejam o proprietário do site são chamados de "cookies de terceiros". Cookies de terceiros permitem que recursos ou funcionalidades de terceiros sejam fornecidos no ou através do site (como análises, publicidade e vídeos interativos). As partes que definem esses cookies de terceiros podem reconhecer seu dispositivo tanto quando visita o site em questão quanto quando visita certos outros sites.</p>
                    
                    <h2 class="h4 mt-4">3. Por Que Usamos Cookies?</h2>
                    <p>Utilizamos cookies primários e de terceiros pelos seguintes motivos:</p>
                    
                    <h3 class="h5 mt-3">3.1. Cookies Essenciais/Necessários</h3>
                    <p>Estes cookies são essenciais para fornecer a você os serviços disponíveis em nosso site e para permitir o uso de alguns de seus recursos. Eles ajudam a autenticar usuários e prevenir uso fraudulento de contas de usuário. Sem esses cookies, os serviços que você solicitou não podem ser fornecidos, e usamos esses cookies apenas para fornecer a você esses serviços.</p>
                    
                    <h3 class="h5 mt-3">3.2. Cookies de Funcionalidade</h3>
                    <p>Estes cookies permitem que nosso site lembre das escolhas que você faz quando o visita, como seu idioma preferido ou suas configurações de visualização. O objetivo desses cookies é fornecer a você uma experiência mais pessoal e evitar que você tenha que reinserir suas preferências cada vez que visita nosso site.</p>
                    
                    <h3 class="h5 mt-3">3.3. Cookies Analíticos/de Desempenho</h3>
                    <p>Estes cookies coletam informações sobre como os visitantes usam um site, por exemplo, quais páginas os visitantes acessam com mais frequência e se eles recebem mensagens de erro de páginas da web. Esses cookies não coletam informações que identificam um visitante. Todas as informações que esses cookies coletam são agregadas e, portanto, anônimas. Eles são usados apenas para melhorar o funcionamento de um site.</p>
                    
                    <h3 class="h5 mt-3">3.4. Cookies de Marketing/Direcionamento</h3>
                    <p>Estes cookies são usados para rastrear visitantes em sites. A intenção é exibir anúncios que sejam relevantes e envolventes para o usuário individual e, portanto, mais valiosos para editores e anunciantes terceiros.</p>
                    
                    <h2 class="h4 mt-4">4. Cookies Específicos que Utilizamos</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Cookie</th>
                                    <th>Tipo</th>
                                    <th>Duração</th>
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>_ga</td>
                                    <td>Analítico</td>
                                    <td>2 anos</td>
                                    <td>Utilizado pelo Google Analytics para distinguir usuários.</td>
                                </tr>
                                <tr>
                                    <td>_gid</td>
                                    <td>Analítico</td>
                                    <td>24 horas</td>
                                    <td>Utilizado pelo Google Analytics para distinguir usuários.</td>
                                </tr>
                                <tr>
                                    <td>_gat</td>
                                    <td>Analítico</td>
                                    <td>1 minuto</td>
                                    <td>Utilizado pelo Google Analytics para limitar a taxa de solicitações.</td>
                                </tr>
                                <tr>
                                    <td>session</td>
                                    <td>Essencial</td>
                                    <td>Sessão</td>
                                    <td>Gerencia a sessão do usuário durante o uso do site.</td>
                                </tr>
                                <tr>
                                    <td>remember_token</td>
                                    <td>Funcionalidade</td>
                                    <td>2 semanas</td>
                                    <td>Lembra as preferências do usuário para futuras visitas.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <h2 class="h4 mt-4">5. Google Analytics</h2>
                    <p>Nosso site utiliza o Google Analytics, um serviço de análise da web fornecido pelo Google, Inc. ("Google"). O Google Analytics utiliza cookies para ajudar o site a analisar como os usuários utilizam o site. As informações geradas pelo cookie sobre o seu uso do site (incluindo seu endereço IP) serão transmitidas e armazenadas pelo Google em servidores nos Estados Unidos.</p>
                    
                    <p>O Google utilizará estas informações com o propósito de avaliar o seu uso do site, compilando relatórios sobre a atividade do site para os operadores do site e fornecendo outros serviços relacionados à atividade do site e uso da internet. O Google também pode transferir essas informações a terceiros quando exigido por lei, ou quando esses terceiros processam as informações em nome do Google.</p>
                    
                    <p>O Google não associará o seu endereço IP a nenhum outro dado mantido pelo Google. Você pode recusar o uso de cookies selecionando as configurações apropriadas em seu navegador, no entanto, observe que se você fizer isso, poderá não conseguir usar a funcionalidade completa deste site.</p>
                    
                    <h2 class="h4 mt-4">6. Como Controlar os Cookies</h2>
                    <p>Você pode configurar seu navegador para recusar todos ou alguns cookies do navegador, ou para alertá-lo quando os sites definem ou acessam cookies. Se você desabilitar ou recusar cookies, observe que algumas partes deste site podem se tornar inacessíveis ou não funcionar corretamente.</p>
                    
                    <p>A maioria dos navegadores da web permite algum controle da maioria dos cookies através das configurações do navegador. Para saber mais sobre cookies, incluindo como ver quais cookies foram configurados e como gerenciá-los e excluí-los, visite <a href="https://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a>.</p>
                    
                    <h3 class="h5 mt-3">Para gerenciar cookies em diferentes navegadores:</h3>
                    <ul>
                        <li><strong>Google Chrome:</strong> Configurações > Avançado > Privacidade e segurança > Configurações de site > Cookies e dados do site</li>
                        <li><strong>Microsoft Edge:</strong> Configurações > Cookies e permissões do site > Gerenciar e excluir cookies e dados do site</li>
                        <li><strong>Mozilla Firefox:</strong> Opções > Privacidade & Segurança > Cookies e dados do site</li>
                        <li><strong>Safari:</strong> Preferências > Privacidade > Cookies e dados do site</li>
                    </ul>
                    
                    <h2 class="h4 mt-4">7. Alterações nesta Política de Cookies</h2>
                    <p>Podemos atualizar esta Política de Cookies de tempos em tempos para refletir, por exemplo, mudanças nos cookies que usamos ou por outros motivos operacionais, legais ou regulatórios. Portanto, visite esta Política de Cookies regularmente para se manter informado sobre nosso uso de cookies e tecnologias relacionadas.</p>
                    
                    <p>A data no topo desta Política de Cookies indica quando ela foi atualizada pela última vez.</p>
                    
                    <h2 class="h4 mt-4">8. Onde Posso Obter Mais Informações?</h2>
                    <p>Se você tiver alguma dúvida sobre nosso uso de cookies ou outras tecnologias, entre em contato conosco pelo e-mail: <a href="mailto:pauloasrrs@gmail.com">pauloasrrs@gmail.com</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 